<!DOCTYPE html>
<html>
<head>
    <title>Development with Sumit</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Sumit's Page</h1>
        <p>Page Modifications are in progress!</p>
    </div>
    <script src="script.js"></script>
</body>
</html>

